@tailwind base;
@tailwind components;
body {
  margin: 0;
  padding: 0;
}
#map {
  position: absolute;
  top: 0;
  bottom: 0;
  width: 100%;
}

.marker > div {
  transition: 0.2s ease;
  cursor: pointer;
}
@tailwind utilities;